fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-google-genai
google-generativeai
langchain-chroma
pydantic
requests
importlib-metadata>=6.0.0
zipp>=3.0.0
typing-extensions>=4.0.0
